.result-container h2 {
    margin-top: 0px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
.result-bar{
    padding: 5% 0 10% 0;
    margin: auto;
    text-align: center;
    align-items: center;
}
.result-bar div{
    width: 100%;
}
.type_explanation {
    width: 90%;
    min-height: 50px;
    margin: 5% auto 10% auto;
    padding: 5%;
    font-size: 12px;
    border-radius: 10px;
    color: 082759;
    background-color: #f0f0f0;
}
.youtube-item {
    margin-bottom: 15%;
}
.youtube-item h4 {
    margin: 3% 0;
}
.youtube-item button {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0;
    color: white;
    background-color: #082759;
}
.youtube-item-detail {
    width: 90%;
    min-height: 100px;
    padding: 5%;
    margin: 3% auto;
    border-radius: 5px;
    background-color: #ececec;
}
.youtube-thumbnail {
    width: 240px;
}
.youtube-profile {
}
.youtube-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 100%;
}
.product-item {
    margin: 5% 0;
    font-size: 12px;
    align-items: center;
}
.product-item img {
    width: 70px;
    height: 70px;
}
.product-item button {
    font-size: 11px;
}
.product-item button {
    width: 50%;
    margin: auto;
}
/* 툴팁 */
.tooltip-container {
    --background: #333333;
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 12px;
    font-weight: 600;
    width: 100% !important;
    color: black;
    padding: 0.7em 1.8em;
    border-radius: 8px;
    text-transform: uppercase;
    height: 20px;
    display: grid;
    place-items: center;
    border-radius: 30px;
  }
  
  .text {
    position: relative; /* position을 absolute에서 relative로 변경 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    color : black;
  }
  .tooltip-container span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    border-radius: 8px;
    opacity: 1;
    z-index: -1;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5%;
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
  }
  
  .tooltip-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: black;
    border-color: transparent;
    z-index: 3;
    width : 350px;
  }
  
  .tooltip-container:hover span:last-child {
    transform: scale(1);
    left: 0;
  }
  
  .tooltip-container:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% {
      rotate: 0;
    }
  
    25% {
      rotate: 7deg;
    }
  
    50% {
      rotate: -7deg;
    }
  
    75% {
      rotate: 1deg;
    }
  
    100% {
      rotate: 0;
    }
  }

  .introDetail {
   width : 100% !important;
   background-color: white;
  }
  .result-btn {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 50px;
  }
  .result-btn button {
    width: 45%;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: whitesmoke;
    background-color: #082759;
  }