
.result-container{
    max-width: 768px;
    border: 1px solid lightgray;
    margin: auto;
    border-radius: 10px;
}

.result-container>p{
    text-align: center;
}

.product-list{
    overflow: auto;
    height: 75vh;
}

.product-container {
    max-width: 748px;
    margin: 20px ;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
}

.product-info table {
    height : 100px;
}

.product-info tr {
    height : 50%;
    border : 1px solid black;
}

.product h2 {
    margin: 0;
    color: black;
}

.product p {
    margin: 5px 5px;
    color: #888;
}

.product button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #45a049;
}

.scrap-button {
    background-color: #2196f3;
    margin-left: 10px;
}

.scrap-button:hover {
    background-color: #0b7dda;
}

@media screen and (max-width: 768px) {
    .product img {
        max-width: 80px;
        max-height: 80px;
    }
}

.result-btn {
    height: 10vh;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.result-btn button {
    flex-grow: 1;
    margin: 0 5px; 
}

@media screen and (max-width: 768px) {
    .result-btn {
        flex-direction: column;
        align-items: stretch;
    }

    .result-btn button {
        margin: 5px 0;
    }
}

#SkinIntro {
    border : 1px solid black;
    width : 37vh;
    margin : auto;
    padding : 15px;
    border-radius: 12px;
}

.b {
    color : red;
}

#intro {
    text-align: center;
}

.warning {
    font-size : 13px;
    color : gray;
    text-align: left;
}

#table {
    margin : auto;
    text-align: left;
}

/*버튼 리스트들을 위한 css*/
.buttonList {
    padding : 15px;
    width  : 40vh;
    margin : auto;
    height : 5vh;
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
}

.buttonList > button {
    height : 5vh;
    background-color: #b3c4d1;
    border-radius: 10px;
    margin : 10px;
    width  : 10vh;
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
    margin : auto;
    margin-top : 20px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }

  /*상품들 테이블*/
  .productTable h5 {
    margin-bottom : 0px;
  }

  .productTable h6 {
    margin-top : 0px;
    color : gray;
  }


/* 툴팁 */
.tooltip-container {
    --background: #333333;
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 18px;
    font-weight: 600;
    color: black;
    border-radius: 8px;
    text-transform: uppercase;
    height: 20px;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 30px;
  }
  
  .text {
    position: relative; /* position을 absolute에서 relative로 변경 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    color : gray;
  }
  .tooltip-container span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--background);
    z-index: -1;
    border: 2px solid var(--background);
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltip-container:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
  }
  
  .tooltip-container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: white;
    border-color: transparent;
    z-index: 3;
    width : 350px;
    height : 300px;
  }
  
  .tooltip-container:hover span:last-child {
    transform: scale(1);
    left: 0;
  }
  
  .tooltip-container:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% {
      rotate: 0;
    }
  
    25% {
      rotate: 7deg;
    }
  
    50% {
      rotate: -7deg;
    }
  
    75% {
      rotate: 1deg;
    }
  
    100% {
      rotate: 0;
    }
  }

  .introDetail {
   width : 300px;
   background-color: white;
  }

  iframe {
    border-radius: 20px;
  }