#findIdInput {
    width : 400px;
    height : 40px;
    padding-left: 10px;
}

.findIdDiv {
    margin-top: 40px;
   text-align: center;
}

#EmailNum {
    width : 80px;
    height : 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: rgb(173, 173, 173);
    color : rgb(240, 240, 240);
}

#findIdDiv > button:hover {
    cursor: pointer;
}

#identiEmail {
    border-bottom: 1px solid black;
    width : 500px;
    margin: auto;
    margin-top : 30px;
    text-align: left;
    padding-left : 10px;
    color : lightgray;
    border-top : none;
    border-left : none;
    border-right : none;
    height : 40px;
}

.identiButton {
    margin: auto;
}


.identiButton > button {
    width : 520px;
    height : 50px;
    margin-top : 10px;
    border-radius: 10px;
    border : none;
}

#leftTime {
    text-align: left;
    margin : auto;
    width : 500px;
    font-size : 13px;
    color : red;
    padding : 10px;
}

