#findIdInput {
    width : 100%;
    height : 40px;
    padding-left: 10px;
    text-align: center;
}

.findIdDiv {
   text-align: center;
}
.findIdHeader {
    height: 50px;
    margin-bottom: 10%;
    display: flex;
    border-bottom: 1px solid lightgray;
    text-align: center;
    align-items: center;
}
.findIdHeader p {
    margin: auto;
    font-size: 23px;
}
#EmailNum {
    width : 80px;
    height : 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    color : rgb(240, 240, 240);
}


.findIdDiv #EmailNum:hover {
    cursor: pointer;
    background-color: black;
}


#identiEmail {
    border-bottom: 1px solid black;
    width : 500px;
    margin: auto;
    margin-top : 30px;
    text-align: left;
    padding-left : 10px;
    color : lightgray;
    border-top : none;
    border-left : none;
    border-right : none;
    height : 40px;
    display : none;
}

.identiButton {
    margin: auto;
    display : none;
}


.identiButton > button {
    width : 520px;
    height : 50px;
    margin-top : 10px;
    border-radius: 10px;
    border : none;
    display : none;
}

#leftTime {
    text-align: left;
    margin : auto;
    width : 500px;
    font-size : 13px;
    color : red;
    padding : 10px;
    display : none;
}

.hoverEffect:hover {
    cursor: pointer;
}
