
.mypage h3{
    margin: 2%;
}
.mypage hr {
    margin: 2% 0;
}
.mypage-userInfo {
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-detail {
    width: 100%;
    padding: 10px;
}
button {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.displayFlex {
    display: flex;
}
.user-name {
    width: 40%;
    font-size: 20px;
    align-self: center;
}
.user-skin-type {
    margin-top: 10px;
}
.user-skin-type p {
    display: inline;
    padding: 3px 5px;
    margin-right: 7px;
    border: 1px solid #082759;
    border-radius: 5px;
    font-size: 12px;
    color: #082759;

}
.mypage-box {
    width: 45%;
    height: 60px;
    border: 1px solid lightgray;
    padding:2%;
    margin: 2%;
    border-radius: 20px;
    justify-content: space-between;
}
.mypage-box h4 {
    margin: 5px 0;
}
.mypage-box div {
    width: 35%;
    margin-left: 10%;
    margin-top: 10px;
}
.mypage-box img {
    margin: 5%;
}
.mypage-area1 button {
    width: 50%;
    height: 30px;
    background-color: black;
    color: white;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    border-width: 0px;
    border-radius: 10px;
    margin: 10px;
    font-size: 12px;
}
.mypage-area2 {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}
.mypage-area2 div {
    width: 33%;
}
.mypage-area3 {
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10% 20% 5% 20%;
}
.mypage-area3 div {
    width: 35%;
}
.mypage-area3 p {
    padding: 5px;
}
.select {
    color: #082759 !important;
    border-bottom: 2px solid #082759;
}
.mypage-area4 {

}
.area4-item {
    padding: 5% 8%;
    justify-content: space-between;
    align-items: center;
}
.backGray {
    background-color: #f0f0f0;
}