  .Notice {
    height: 90%;
  }

  .notice-board {
    max-width: 600px;
    height: 600px;
    overflow-y: auto; /* 필요한 경우에만 스크롤바를 표시 */
    margin-top: 0px;
    scrollbar-width: thin; /* Firefox에서 스크롤바의 너비를 조정 */
    scrollbar-color: transparent transparent; /* Firefox에서 스크롤바를 투명으로 설정 */
  }

  /* Webkit 브라우저에 대한 스크롤바 스타일 조정 (Chrome, Safari 등) */
  .notice-board::-webkit-scrollbar {
      width: 0px; /* 스크롤바의 너비 조정 */
  }

  .notice-board::-webkit-scrollbar-thumb {
      background-color: transparent; /* 스크롤바 색상을 투명으로 설정 */
  }
  
  .notice-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    margin-left: 10px;
  }
  
  .notice-item h3 {
    color: #333;
  }
  
  .notice-item p {
    color: #666;
    margin-top: 10px;
  }
  
  .h2 {
    text-align: center;
    color: #3f51b5;
  }

  .uploadButton {
    text-align : right;
    width : 100%;
    height : 40px;
    margin : 10px auto;
  }
  
  .uploadButton > Button {
    background-color: #3f51b5;
    color : white;
    font-family: 'BMJUA';
    border : 0px;
    width : 98%;
    height :100%;
    border-radius: 10px;
  }

  .uploadButton > Button:hover {
    cursor: pointer;
  }

  #searchBar {
    width : 100%;
    height : 30px;
  }

  /*검색바 css*/

  .searhItem{
    margin-bottom: 10px;
  }

  .searhText{
    width: 95%;
    height: 48px;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    margin: 8px auto;
    align-items: center;
    justify-content: center;
    }

  .searhItem input{
    padding: 0;
    width: 100%;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    border: 0;
    background: none;
    margin-bottom: 0p;
  }

  .searhText>svg{
    margin: 1.3px 12px 0 0;
  }

  .searchBtn{
    color: #fff;
    cursor: pointer;
    width: 95%;
    display: flex;
    margin: 8px auto;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    border-color: gray;
    font-weight: 700;
    background-color: #082759;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    letter-spacing: -.3px;
    border: solid 1px;
  }
