.notice-detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height : 770px;
  }
  
  .notice-header {
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
    padding : 10px;
  }
  
  .notice-title {
    font-size: 24px;
    color: #333;
    text-align: left;
    margin : 0px;
    padding-bottom :10px;
    padding-top : 20px;
  }
  
  .notice-date {
    font-size: 14px;
    color: #888;
  }
  
  .notice-content {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    padding : 10px;
  }