.footer {
    width: 100%;
    height: 100%;
}
.footer-list {
    position: fixed;
  max-width: 420px;
  width: 100%;
  height: 60px !important;
  bottom: 0;
  background-color: white;    
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 999;

}
.footerItem {
  width: 15%;
  margin: auto;
}
.footer-icon {
  width: 32px;
  height: 32px;
  margin: 5px 5px 5px 0px;
}
.item-name {
  margin: 0;
  font-size: 10px;
}
.custom-modal {
    width: 80% !important;
    height: 80% !important;
  }
.login-modal {
    width: 95%;
    height: 80%;
  padding-top: 5%;
  z-index: 1;
  text-align: center;
}
.login-modal h3 {
  margin-top: 10%;
  margin-bottom: 0;
}
.login-modal h4 {
  margin: 0;
}
.login-cancel {
  position: absolute;
  right: 5%;
  top: 3%;
}
.sns-hr {
  flex: 1;
  margin: 0 10px;
}
.sns-icon-area > img {
  width: 80px;
  height: 80px;
}

.login-area {
  position: relative;
  padding: 20px 0 0;
  margin: 10px auto;
  width: 80%;
}

.login-field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #434a5a;
  outline: 0;
  font-size: 17px;
  color: #434a5a;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.login-field::placeholder {
  color: transparent;
}

.login-field:placeholder-shown ~ .login-label {
  font-size: 17px;
  top: 20px;
}

.login-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #434a5a;
}

.login-field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #434a5a, #434a5a);
  border-image-slice: 1;
}

.login-field:focus ~ .login-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #434a5a;
  font-weight: 700;
}

/* reset input */
.login-field:required,
.login-field:invalid {
  box-shadow: none;
}

.login-menu {
  display: flex;
  justify-content: space-between;
  margin: 5% 20%;
}
.signUp-btn {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background-color: #082759;
  color: white;
}

.footer-select path{
    fill: black;
    
}