
  body{
    margin: 0;
  }
  html{
    margin: 0;
  }
  .btn_cursor {
    cursor : pointer;
  }
  .login_tit {
    border-bottom: solid 1px #ababab;
    padding-bottom : 20px
  }
  
  .modal_tools {
    margin-top : -100px
  }
  
  .login_input_div p {
    font-weight: bold;
    margin-bottom : 8px;
  }
  
  .login_input_div input {
    width: 92%;
    padding: 4px;
    margin-top: -10px;
  }
  
  .login_div {
    text-align: left;
    padding-left: 20px;
  }
  
  .submit_div {
    display: grid;
    grid-template-columns: 45% auto;
    margin-top: 12%;
  }
  
  .submit_div div {
    text-align: center;
  }
  
  .submit_div div input {
    cursor: pointer;
  }
  
  .acenter h5:hover {
    cursor: pointer;
  }

  .acenter h5 {
    display : inline-block;
    margin : 0px 10px 0px 10px;
    line-height: 60px;
  }

  .acenter {
   width : 100%;
  }

  #loginEnroll {
    text-align: right;
    width : 100%;
  }

  #id, #password {
    height : 40px;
    border-radius: 10px;
    padding-left: 10px;
  }

  /*로그인하기, 취소 버튼*/
  .submit_div input {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color : white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .submit_div input:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .submit_div input:active {
    transform: scale(0.95);
  }

  #login {
    margin : auto;
  }

  /*아이디찾기*/
  .search_user_info_div { 
    margin-top: 20px; 
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: solid 1px #ababab;
}
.search_user_info_div div { text-align: center; margin-top: 10px;}
.search_user_info_div div b { cursor: pointer; margin-top: -5px; font-size: 14px; }